body{
    background-image: 
    url("https://www.phyramid.com/images/blog/making-phyramid-coms-procedurally-rendered-3d-header/header-background-indexed.png");
    background-size:cover;
  }
  .col-10{
    background-color:white;
  }
  .header{
      color:white;
      background-image: 
      url("https://designninjaz.com/wp-content/uploads/2013/10/headerImage2.jpg");
      text-align:center;
      padding: 40px;
      background-size:cover;
  }
  .footer{
    text-align:center;
    color:white;
  }
